* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: #192b41;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.side a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.side-bar {
  width: 15%;
  background-color: #203354;
  padding: 25px;
  border-radius: 25px;
  border: none;
}

.side-bar h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #f7b731;
  text-align: center;
}

.side-bar ul {
  list-style: none;
  font-size: 1.7rem;
}

.side-bar ul li {
  padding: 20px;
}

.side-bar ul li img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  vertical-align: middle;
}

.main-content {
  width: 60%;
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #203354;
  border-radius: 25px;
  padding: 10px;
  max-width: 400px;
  margin: 20px auto;
  height: 10%;
  border-radius: 20px;
}

.search-bar input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border-radius: 25px 0 0 25px;
}

.search-bar input::placeholder {
  color: #aaa;
}

#search-btn {
  background-color: #f7b731;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

#search-btn:hover {
  background-color: #d89e28;
}

#search-btn img {
  width: 20px;
  height: 20px;
}

#search-btn .sr-only {
  display: none;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35%;
  margin: 20px auto;
}

.current-weather h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.current-weather h2 {
  font-size: 2.7rem;
  margin-top: 10px;
  color: #f7b731;
}

.current-weather p {
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 15px;
  display: inline;
}

.weather-icon img {
  width: 100px;
  height: auto;
  margin-top: 10px;
  transition: transform 0.3s;
}

.weather-icon img:hover {
  transform: scale(1.1);
}

.today-forecast {
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #203354;
  color: #fff;
}

.today-forecast h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
  color: #f7b731;
}

.hourly-forecast {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hour {
  text-align: center;
  flex: 1;
  margin: 0 5px;
}

.hour p {
  font-size: 1rem;
  margin: 5px 0;
  color: #fff;
}

.hour img {
  width: 50px;
  height: auto;
  margin: 5px 0;
  transition: transform 0.3s;
}

.hour img:hover {
  transform: scale(1.1);
}

.air-conditions {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: #203354;
  color: #fff;
  text-align: center;
  height: 15%;
}

.air-conditions h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #f7b731;
}

.air-conditions p {
  font-size: 1.2rem;
  margin: 5px 0;
  color: #aaa;
  display: inline;
}

.weekly-forecast {
  width: 25%;
  max-width: 600px;
  background-color: #203354;
  padding: 45px;
  border-radius: 20px;
  margin: 20px auto;
}

.weekly-forecast h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f7b731;
  text-align: center;
  padding: 20px;
}

.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 18px;
}

.day p {
  font-size: 1.2rem;
  color: #fff;
}

.day img {
  width: 40px;
  height: auto;
}

.day img:hover {
  transform: scale(1.1);
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

.home {
  font-family: Arial, sans-serif;
  background-color: #192b41;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome-container {
  text-align: center;
  max-width: 600px;
  padding: 40px;
  background-color: #203354;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.welcome-title {
  font-size: 1.2rem;
  color: #aaa;
  margin-bottom: 30px;
}

.welcome-message {
  margin-top: 20px;
  font-size: 1.2rem;
  padding: 20px;
}

.welcome-message a {
  color: #f7b731;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.enter-button {
  display: inline-block;
  padding: 12px 30px;
  font-size: 1.2rem;
  color: #ffff;
  background-color: #f7b731;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.enter-button:hover {
  background-color: #d89e28;
  transform: scale(1.1);
}

@media (max-width: 760px) {
  .welcome-container {
      padding: 20px;
  }

  .welcome-title {
      font-size: 2rem;
  }

  .welcome-message {
      font-size: 1rem;
  }

  .enter-button {
      font-size: 1rem;
  }
}